$onyx: #393D3F;
$white: #FDFDFF;
$pale-silver: #C6C5B9;
$steel-teal:#62929E;
$dark-blue: #546A7B;

$granny-smith: #C4FFB2;

$color1: #f3e8eeff;
$color2: #bacdb0ff;
$color3: #729b79ff;
$color4: #475b63ff;
$color5: #2e2c2fff;