@import "my-colors";

div.recipe {

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  flex-direction: column;

  > button {
    width: 100%;
    border: none;
    color: $color1;
    background-color: $color5;
    padding: 14px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;

    &:disabled {
      cursor: not-allowed;
    }

  }

  .content {

    flex-grow: 1;
    overflow: auto;
    display: flex;
  }
}
