@import "my-colors";

button {
  width: 100%;
  border: none;
  color: $color1;
  background-color: $color5;
  padding: 14px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;

  &:disabled {
    cursor: not-allowed;
  }
}