@import "my-colors";

.step {
  font-size: 20px;
  padding: 10px 10px;
  color: $color5;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;

  > div:first-of-type {
    display: flex;
    flex-wrap: wrap;
    > div{
      margin: 0 10px
    }
  }

}

h2, h3 {
  margin: .25em 0;
}
