@import "my-colors";

div.recipe-welcome {

  position: absolute;
  top: 67px;
  bottom: 51px;
  left: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  > .content {

    flex-grow: 1;
    overflow: auto;

    display: flex;
  }
}