@import "my-colors";

.step {
  color: $onyx;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-row-gap: 5px;
  max-width: 800px;
  margin: 10px auto;
  padding: 10px;
  border-color: $steel-teal;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}
