.recipe-card {
  width: 400px;
  height: 400px;
  margin: 10px;
  text-align: center;
  :first-child{
    overflow: hidden;
    width: 400px;
    height: 300px;
    img{
      transition: transform .5s ease;
      &:hover{
        transform: scale(1.2);
      }
    }
  }
}