@import 'my-colors';

a:link, a:visited {
  height: 60px;
  text-align: center;
  text-decoration: none;
  display: flex;
  color: $steel-teal;
  border-color: $onyx;
  border-width: 1px;
  border-style: none none solid none;
  &:hover {
    background-color: $pale-silver;
  }
  h1 {
    margin: 5px;
    font-size: 30px;
    height: 100%;
    line-height: 30px;
  }
}
