@import './my-colors';

.sidebar {
  width: 180px;
  background-color: $granny-smith;
  color: $onyx;
  > div {
    padding: 5px;
  }
}

a.active {
  background-color: $steel-teal;
  color: $white;
}
